@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

h3 {
    font-family: Verdana;
    font-size: 40px;
    margin: 20px;
}

.all {
    justify-items: center; 
}

.counter {
    display: flex;
    background-color: #080001;
    font-size: 90px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #F94F6D;
    width: 155px;
    height: 113px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    margin: 20px;
}

.plus-btn {
    background-color: #1B244A;
    font-size: 18px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #9AABD8;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    padding-top: 6px;
    margin: 3px;
    border: #9AABD8 solid 2px;
}

#reset-btn {
    display: block;
    margin: 20px auto;
    background-color: #1B244A;
    font-size: 18px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #F94F6D;
    width: 480px;
    height: 45px;
    border-radius: 8px;
    padding-top: 6px;
    border: #F94F6D solid 2px;
    
}